<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="ConsoleApplication23.Employees">
        <endpoint address="http://0.0.0.0:3721/employees"
                  binding="webHttpBinding"
                  contract="ConsoleApplication23.IEmployees"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
