<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <!-- Error -->
    <appender name="Error_FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="log\error_log.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="20" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ddHHmmss} %-5level %-5t %logger %F %L%n%m%n" />
        <param name="Header" value="-=> * App start.&#13;&#10;" />
        <param name="Footer" value="-=> * App exit.&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- Info -->
    <appender name="Info_FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="log\info_log.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="20" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ddHHmmss} %-5level %-5t %logger %F %L%n%m%n" />
        <param name="Header" value="-=> * App start.&#13;&#10;" />
        <param name="Footer" value="-=> * App exit.&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!-- Debug -->
    <appender name="Debug_FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="log\debug_log.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="20" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ddHHmmss} %-5level %-5t %logger %F %L%n%m%n" />
        <param name="Header" value="-=> * App start.&#13;&#10;" />
        <param name="Footer" value="-=> * App exit.&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
    </appender>

    <!-- Console -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{ddHHmmss} %-5level %-5t %logger %F %L%n%m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!--
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/log.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5000KB"/>
      <maxSizeRollBackups value="500"/>
      <CountDirection value="1"/>
      <RollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p %t] [%date{yyyy-MM-dd HH:mm:ss,fff}] %-5logger - %m%n"/>
      </layout>
    </appender>
    -->
    
    <!-- Tradition common error log -->
    <appender name="common_error_log" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="ErrorLog\common_error_log.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="20" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ddHHmmss} %-5level %-5t %logger %F %L%n%m%n" />
        <param name="Header" value="-=> * App start.&#13;&#10;" />
        <param name="Footer" value="-=> * App exit.&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <!-- Tradition common run log -->
    <appender name="common_run_log" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="RunLog\common_run_log.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="20" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ddHHmmss} %-5level %-5t %logger %F %L%n%m%n" />
        <param name="Header" value="-=> * App start.&#13;&#10;" />
        <param name="Footer" value="-=> * App exit.&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    
    <root>
      <!-- Level : 定义级别 缺省为DEBUG (值从高到低可为：OFF:拒绝所有 FATAL ERROR WARN INFO DEBUG ALL:允许所有) -->
      <level value="ALL" />
      <appender-ref ref="Error_FileAppender" />
      <appender-ref ref="Info_FileAppender" />
      <appender-ref ref="Debug_FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="LONGO.CommonModule.ComMethods" additivity="false">
      <level value="All" />
      <appender-ref ref="common_error_log"/>
      <appender-ref ref="common_run_log"/>
    </logger>
    
    <!--
    <logger name="mdc">
      <level value="All" />
      <appender-ref ref="LogFileAppender"/>
    </logger>
    -->
  </log4net>
</configuration>
