<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="%log\%date{yyyMMdd}log.txt" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        
        <param name="Header" value="----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="----------------------footer--------------------------&#13;&#10;" />
        
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <!--
    <logger name="mdc">
      <level value="All" />
      <appender-ref ref="LogFileAppender"/>
    </logger>
    -->
  </log4net>
</configuration>
