<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="jaxwsTestSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/mdc-max-client/jaxws/test"
                binding="basicHttpBinding" bindingConfiguration="jaxwsTestSoapBinding"
                contract="ServiceReference1.Test" name="TestImplPort" />
        </client>
    </system.serviceModel>
</configuration>